[Unit]
Description=PXC Checker
After=network.target

[Service]
EnvironmentFile=/etc/pxc/checker/%i.conf
ExecStart=/usr/bin/pxc-checker
KillMode=process
Restart=always
User=mysql
Group=mysql

[Install]
WantedBy=multi-user.target